<nav class="navbar relative">
  <div class="max-w-full flex flex-col  gap-6">
    <div
      class="my_navbar flex flex gap-1 px-2 py-4 md:justify-center md:place-content-center md:place-items-center md:h-16 text-white bg-black font-semibold md:text-lg">
      <span>
        OTO Secures in Series A Funding 8 Million USD🚀 to invent tech solutions that improve the logistics sector.
        <span style="color: #3D5FFF;" class="cursor-pointer">
          Visit our Investor memo
        </span>
      </span>

    </div>
    <div class="px-5 lg:px-12 flex place-items-center justify-between  place-content-center">

      <!-- .........................................logo...................... -->
      <div class="flex-shrink-0">
        <img src="assets/images/logo.webp" alt="otopedia logo" class="w-[80px] h-[80px] md:w-[110px] md:h-[110px]">
      </div>

      <!-- Mobile....................................lock...................... -->
      <div class="md:hidden">
        <span>
          Calculate Shipping Rates
        </span>
      </div>

      <!-- Mobile....................................lock...................... -->
      <div class="md:hidden">
        <span>
          <img src="assets/icons/menu.svg" class="w-6" />
        </span>
      </div>

      <!-- .........................................Menu...................... -->
      <div class="items-center hidden lg:flex">
        <div class="ml-10 flex justify-between items-baseline space-x-4 gap-1 capitalize">
          <a class="navbarMenu" routerLinkActive="active">solution</a>
          <a class="navbarMenu" routerLinkActive="active">Integrations</a>
          <a class="navbarMenu" routerLinkActive="active">Pricing</a>
          <a class="navbarMenu" routerLinkActive="active">OTPpedia</a>
          <a class="navbarMenu" routerLinkActive="active">Calculate Shipping Rates</a>
          <a class="navbarMenu" routerLinkActive="active">Track Shipments</a>
          <a class="navbarMenu underline" routerLinkActive="active">Login</a>
        </div>
      </div>

      <!-- .........................................Buttons...................... -->
      <div class="hidden lg:flex items-center">
        <button class="navBtn mr-2 capitalize">Start for free</button>
      </div>
    </div>
  </div>
</nav>