<div class="footer md:px-[15%]">
    <div class="flex flex-col justify-center md:justify-start pt-10">
        <hr class="solidLine ">
        <div class="my-4 md:my-8 flex justify-center place-items-center">
            <img src="assets/images/logo.webp" alt="otopedia logo" class="w-20 h-20">
        </div>
        <hr class="solidLine">
        <div class="my-8 flex md:flex-row flex-wrap place-items-start place-content-center justify-around gap-1 md:gap-2 "
            style="min-height: 420px;">
            <div
                class="col-span-1 place-items-center md:place-items-start md:col-span-2 flex justify-center md:justify-start flex-col gap-10 mb-[50px]">
                <span class="text-xl font-semibold ">
                    Features
                </span>
                <span
                    class="flex flex-col justify-center md:justify-start place-items-center md:place-items-start gap-3  md:gap-5 cursor-pointer">
                    <span class="text-base font-normal">
                        Ship orders
                    </span>
                    <span class="text-base font-normal">
                        Manage shipping
                    </span>
                    <span class="text-base font-normal">
                        Analyze preformance
                    </span>
                    <span class="text-base font-normal">
                        Return shipments
                    </span>
                    <span class="text-base font-normal">
                        Track shipments
                    </span>
                </span>
            </div>

            <div
                class="col-span-1 place-items-center md:place-items-start md:col-span-2 flex justify-center md:justify-start flex-col gap-10 mb-[50px]">
                <span class="text-xl font-semibold ">
                    Use cases
                </span>
                <span
                    class="flex flex-col justify-center md:justify-start place-items-center md:place-items-start gap-3  md:gap-5 cursor-pointer">
                    <span class="text-base font-normal">
                        Social Sellers
                    </span>
                    <span class="text-base font-normal">
                        Online Retailers
                    </span>
                    <span class="text-base font-normal">
                        Omnichannel Brands
                    </span>
                    <span class="text-base font-normal">
                        Logistics & 3PL
                    </span>
                </span>
            </div>

            <div
                class="col-span-1 place-items-center md:place-items-start md:col-span-2 flex justify-center md:justify-start flex-col gap-10 mb-[50px] ">
                <span class="text-xl font-semibold ">
                    Integrations
                </span>
                <span
                    class="flex flex-col justify-center md:justify-start place-items-center md:place-items-start gap-3  md:gap-5 cursor-pointer">
                    <span class="text-base font-normal">
                        Shipping Companies
                    </span>
                    <span class="text-base font-normal">
                        Ecommerce Platforms
                    </span>
                </span>
            </div>

            <div
                class="col-span-1 place-items-center md:place-items-start md:col-span-2 flex justify-center md:justify-start flex-col gap-10 mb-[50px] ">
                <span class="text-xl font-semibold ">
                    OTOpidea
                </span>
                <span
                    class="flex flex-col justify-center md:justify-start place-items-center md:place-items-start gap-3  md:gap-5 cursor-pointer">
                    <span class="text-base font-normal">
                        Blog
                    </span>
                    <span class="text-base font-normal">
                        Whitepapers & E-books
                    </span>
                    <span class="text-base font-normal">
                        Success Stories
                    </span>
                    <span class="text-base font-normal">
                        Shipping Destinations
                    </span>
                    <span class="text-base font-normal">
                        Arabic tools
                    </span>
                </span>
            </div>

            <div
                class="col-span-1 place-items-center md:place-items-start md:col-span-2 flex justify-center md:justify-start flex-col gap-10 mb-[50px] ">
                <span class="text-xl font-semibold ">
                    About OTO
                </span>
                <span
                    class="flex flex-col justify-center md:justify-start place-items-center md:place-items-start gap-3  md:gap-5 cursor-pointer">
                    <span class="text-base font-normal">
                        Help Center
                    </span>
                    <span class="text-base font-normal">
                        News
                    </span>
                    <span class="text-base font-normal">
                        Careers
                    </span>
                    <span class="text-base font-normal">
                        Become A Partner
                    </span>
                    <span class="text-base font-normal">
                        Affiliate Program
                    </span>
                    <span class="text-base font-normal">
                        Series A Investor Memo
                    </span>
                    <span class="text-base font-normal">
                        Privacy Policy
                    </span>
                    <span class="text-base font-normal">
                        Terms and Conditions
                    </span>
                </span>
            </div>
        </div>
        <hr class="solidLine ">
        <div class="my-8 flex flex-col gap-8 md:gap-2 md:flex-row justify-around place-items-center">
            <span class="flex flex-row gap-8 ">
                <img src="assets/icons/linkedin.svg" alt="otopedia logo" class="h-6 w-6 cursor-pointer">
                <img src="assets/icons/facebook.svg" alt="otopedia logo" class="h-6 w-6 cursor-pointer">
                <img src="assets/icons/instagram.svg" alt="otopedia logo" class="h-6 w-6 cursor-pointer">
                <img src="assets/icons/youtube.svg" alt="otopedia logo" class="h-6 w-6 cursor-pointer">
            </span>
            <span class="flex place-content-center">All rights reserved OTO Global Inc. © 2023</span>
            <span class="flex flex-col gap-4">
                <span class="flex gap-2 cursor-pointer place-items-center">
                    <img src="assets/images/flag1.png" alt="otopedia logo" class="w-6 h-3">
                    العربية
                </span>
                <span class="flex gap-2 cursor-pointer place-items-center">
                    <img src="assets/images/flag2.png" alt="otopedia logo" class="w-6 h-3">
                    Türkçe
                </span>
            </span>
        </div>

        <hr class="solidLine mb-4 md:mb-8">
        <div class="mb-10 flex gap-2 md:gap-10 py-2 md:py-0 flex-col md:flex-row md:justify-center md:place-content-center md:place-items-center px-16 font-normal text-base"
            style="min-height: 50px;">
            <span class="flex gap-2 justify-around md:justify-start place-items-center">
                <span>
                    <img src="assets/images/Logo_Ministry_of_Commerce.webp" alt="otopedia logo" class="h-8 w-16">
                </span>
                <span>
                    CR Number: 1010665397
                </span>
            </span>
            <span class="flex gap-2 justify-around md:justify-start place-items-center">
                <span>
                    <img src="assets/images/vat.webp" alt="otopedia logo" class="h-10 w-8">
                </span>
                <span>
                    VAT Number: 310806962700003
                </span>
            </span>
        </div>

    </div>

</div>